<ul class="nav">
    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
        <a asp-action="Index" asp-controller="Home" asp-area="Management">
            <i class="ti-panel"></i>
            <p>Dashboard</p>
        </a>
    </li>
    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Resume" ? "active" : "")">
        <a asp-action="Index" asp-controller="Resume" asp-area="Management">
            <i class="ti-info-alt"></i>
            <p>Resumes</p>
        </a>
    </li>
    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Education" ? "active" : "")">
        <a asp-action="Index" asp-controller="Education" asp-area="Management">
            <i class="ti-pencil"></i>
            <p>Education</p>
        </a>
    </li>
    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Experience" ? "active" : "")">
        <a asp-action="Index" asp-controller="Experience" asp-area="Management">
            <i class="ti-medall"></i>
            <p>Experiences</p>
        </a>
    </li>
    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Work" ? "active" : "")">
        <a asp-action="Index" asp-controller="Work" asp-area="Management">
            <i class="ti-folder"></i>
            <p>Works</p>
        </a>
    </li>
    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "User" ? "active" : "")">
        <a asp-action="Index" asp-controller="User" asp-area="Management">
            <i class="ti-user"></i>
            <p>Users</p>
        </a>
    </li>
</ul>