@model IEnumerable<MyPortfolio.Models.ApplicationUser>
@{
    ViewData["Title"] = "Users";
}

<div class="row">
    <div class="col-md-12">
        <div class="text-right">
            <div class="text-right">
                <partial name="_CreateButtonPartial" />
            </div>
        </div>
        <hr />
        <div class="card">
            <div class="header">
                <h4 class="title">@ViewData["Title"]</h4>
                <p class="category">Here are listing users.</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(u => u.FirstName)</th>
                            <th>@Html.DisplayNameFor(u => u.LastName)</th>
                            <th>@Html.DisplayNameFor(u => u.Email)</th>
                            <th class="text-center">@Html.DisplayNameFor(u => u.IsAuthorized)</th>
                            <th>@Html.DisplayNameFor(u => u.CreatedAt)</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr class="@if (item.LockoutEnd != null || item.LockoutEnd > DateTime.Now) { @Html.Raw("danger") } ">
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.NormalizedEmail</td>
                            <td class="text-center">@item.IsAuthorized</td>
                            <td>@item.CreatedAt</td>
                            <td class="text-center">
                                <a href="@Url.Action("Update/" + item.Id)" class="btn btn-info btn-simple btn-icon">
                                    <i class="ti-reload"></i>
                                </a>
                                <a href="@Url.Action("Delete/" + item.Id)" class="btn btn-danger btn-simple btn-icon">
                                    <i class="ti-trash"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





