@model IEnumerable<MyPortfolio.Models.Post>
@{
    ViewData["Title"] = "Posts";
}

<div class="row">
    <div class="col-md-12">
        <div class="text-right">
            <partial name="_CreateButtonPartial" />
        </div>
        <hr />
        <div class="card">
            <div class="header">
                <h4 class="title">@ViewData["Title"]</h4>
                <p class="category">Here are listing blog posts.</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">@Html.DisplayNameFor(e => e.Id)</th>
                            <th>@Html.DisplayNameFor(e => e.Title)</th>
                            <th>@Html.DisplayNameFor(e => e.UserId)</th>
                            <th>@Html.DisplayNameFor(e => e.CreatedAt)</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">@item.Id</td>
                                <td>@item.Title</td>
                                <td>@item.User.FirstName @item.User.LastName</td>
                                <td>@item.CreatedAt.ToLongDateString()</td>
                                <td class="text-center">
                                    <partial name="_ActionButtonsPartial" model="item.Id" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





