@model IEnumerable<MyPortfolio.Models.Education>
@{
    ViewData["Title"] = "Education";
    int counter = 1;
}

<!-- Vcard Page Content -->
<div class="vcard-page-content-wrapper d-flex align-items-end">
    <div class="page-content">

        <!-- Work Experience Area -->
        <div class="education-area">
            <div class="container-fluid">
                <div class="row">
                    <!-- Section Heading -->
                    <div class="col-12">
                        <div class="section-heading">
                            <h2>@ViewData["Title"]</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="education-timeline-wrapper">
                            <!-- Timeline Row -->
                            <div class="timeline-row"></div>

                            @foreach (var item in Model)
                            {
                                <!-- Single Work Education -->
                                <div class="single-education-timeline d-flex active @Html.Raw((counter % 2 == 0) ? "even-item" : "odd-item")">
                                    <div class="education-icon mr-15">
                                        <img src="img/core-img/edu1.png" alt="">
                                    </div>
                                    <div class="education-content">
                                        <h5>
                                            @item.StartedAt.Year -
                                            @if (item.FinishedAt.HasValue)
                                            {
                                                @item.FinishedAt.Value.Year
                                            }
                                            else
                                            {
                                                @Html.Raw("Present")
                                            }
                                        </h5>
                                        <h4>@item.InstituteName</h4>
                                        <h6>@item.Degree</h6>
                                        <p>@item.Body</p>
                                    </div>
                                </div>
                                counter++;
                            }

                        </div>
                    </div>
                </div>

                <partial name="_FooterPartial" />
            </div>
        </div>

    </div>
</div>

