@model IEnumerable<MyPortfolio.Models.Resume>
@{
    ViewData["Title"] = "Resumes";
}

<div class="row">
    <div class="col-md-12">
        <div class="text-right">
            <div class="text-right">
                <partial name="_CreateButtonPartial" />
            </div>
        </div>
        <hr />
        <div class="card">
            <div class="header">
                <h4 class="title">@ViewData["Title"]</h4>
                <p class="category">Here are listing resumes.</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">@Html.DisplayNameFor(e => e.Id)</th>
                            <th>@Html.DisplayNameFor(e => e.FirstName)</th>
                            <th>@Html.DisplayNameFor(e => e.LastName)</th>
                            <th class="text-center">@Html.DisplayNameFor(e => e.IsActive)</th>
                            <th>@Html.DisplayNameFor(e => e.CreatedAt)</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">@item.Id</td>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td class="text-center">@item.IsActive</td>
                                <td>@item.CreatedAt</td>
                                <td class="text-center">
                                    <partial name="_ActionButtonsPartial" model="item.Id" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





