@model IEnumerable<MyPortfolio.Models.Experience>
<section class="colorlib-experience" data-section="experience">
    <div class="colorlib-narrow-content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                <span class="heading-meta">Experience</span>
                <h2 class="colorlib-heading animate-box">Work Experience</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="timeline-centered">
                    @foreach (var item in Model)
                    {
                        <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                            <div class="timeline-entry-inner">
                                <div class="timeline-icon color-none">
                                </div>
                                <div class="timeline-label">
                                    <h2 style="margin: 0"><a>@item.Caption</a> <span class="pull-right">@item.StartedAt.Year-@if (item.FinishedAt.HasValue == false) { @Html.Raw("Present") } else { @item.FinishedAt.Value.Year }</span></h2>
                                    <h2><span>@item.InstituteName</span></h2>
                                    <p>@item.Body</p>
                                </div>
                            </div>
                        </article>

                    }

                    <article class="timeline-entry begin animate-box" data-animate-effect="fadeInBottom">
                        <div class="timeline-entry-inner">
                            <div class="timeline-icon color-none">
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>